<div class="jumbotron mt-5">
  <p class="lead ">A little summary about my experience working on this excercise :</p>
  <hr class="my-4">
  <p>It was very fun, sadly i couldn't commit the amount of time i wanted but the experience putting my mind on something 'different' was very nice and challenging.</p>
  <p>I spend a lot of time reading Imgix documents about how to proceed but i don't think i figured it out correctly, i made a SPA loading the endpoint by an http request localy and also made some logic playing with the urls and the imgx adjustment options.</p>
  <p>I am very curious about the correct response on this excerise, and how the backend is really implemented on this issue i understood that Imgix works as a CDN but i runned the backend localy and i failed badly at making it .</p>
  <p class="lead">
    Thank you all for this journey i enjoyed it a lot!
  </p>
  <div>
    <svg
      class="linkedin-url-icon"
      (click)="goLinkedin()"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="3em"
      height="3em"
      viewBox="0 0 24 24">
      <path
        d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h14m-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93h2.79M6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37h2.77z"
        fill="#007BFF"/>
    </svg>
  </div>


</div>
